:root {
  --bvndle-primary: #6b3b90;
  --bvndle-secondary: #dc5695;
}

/* Logo style */
img[alt="light logo"] {
  height: 80px;
}

/* navbar CTA button style */
nav a {
  /* padding: 12px 40px !important; */
}
nav a > span {
  background: var(--bvndle-primary) !important;
}

/* Navigation Style */
#navigation-items a {
  background-color: transparent !important;
  transition: font-weight 0.1s ease-in-out;
}
#navigation-items a:hover {
  color: var(--bvndle-primary);
  font-weight: 600;
}
#navigation-items > div a {
  border-radius: 0 !important;
  border-left: 2px solid transparent;
  margin-left: 15px !important;
  padding-left: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#navigation-items > div a:is(.text-primary) {
  border-left-color: var(--bvndle-secondary);
}
